.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.viewContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    padding: 20px;
}

.taskListsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
}

.header {
    flex: 0 0 10%;
    width: 100%;
    background-color: #000;
    color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes fadeColor {
    0%,
    100% {
        color: green;
    }

    50% {
        color: black;
    }
}

.header h1 {
    margin: 0;
    font-size: 1.5rem;
    animation: fadeColor 2s ease-in-out infinite;
}

.view {
    flex: 0 0 80%;
    width: 100%;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
}

.drawer {
    flex: 0 0 10%;
    width: 100%;
    background-color: #000;
    border-top: 1px solid #aaa;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.tab svg {
    width: 24px;
    height: 24px;
    margin-bottom: 5px;
    color: #fff;
    fill: #fff;
}

.tab span {
    font-size: 12px;
}

.activeTab {
    color: green;
}

.activeTab svg {
    fill: green;
}