.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.viewContent {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

.tabContent {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}

.slideLeft {
  transform: translateX(-100%);
}

.slideRight {
  transform: translateX(100%);
}

.active {
  transform: translateX(0);
}

.taskListsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  margin-bottom: 150px;
  overflow-y: auto;
}

.header {
  flex: 0 0 10%;
  width: 100%;
  background-color: #000;
  color: #008170;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  position: sticky;
  top: 0;
  left: 0;
}

.header h1 {
  margin: 0;
  font-size: 1.5rem;
}

.view {
  flex: 0 0 80%;
  width: 100%;
  padding: 20px;
  overflow-y: scroll;
}

.drawer {
  flex: 0 0 10%;
  width: 100%;
  background-color: #000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
}

.tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.tab svg {
  width: 24px;
  height: 24px;
  margin-bottom: 5px;
  color: #fff;
  fill: #fff;
}

.tab span {
  font-size: 12px;
}

.activeTab {
  color: #008170;
}

.activeTab svg {
  fill: #008170;
}
